@font-face {
    font-family: "Fira Book";
    src: url("../fonts/FiraSans-Book.otf");
}

@font-face {
    font-family: "Fira Book Italic";
    src: url("../fonts/FiraSans-BookItalic.otf");
}

@font-face {
    font-family: "Gilroy Extra Bold";
    src: url("../fonts/Gilroy-ExtraBold.otf");
}

@font-face {
    font-family: "Gilroy Light";
    src: url("../fonts/Gilroy-Light.otf");
}

body { background: #232323; }

header {
    display: flex;
    justify-content: center;
    
    margin: 20px 0 20px 0;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul { 
    list-style: none;
    padding: 0;
    margin: 0;
}

#desk_numbers, #desk_letters {
    font-family: "Gilroy Light";
    font-size: 18px;
    color: #7a7a7a;
}

#desk_numbers {
	position: absolute;
    z-index: 1;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin: 40px 12px;
}

#desk_numbers li {
	height: 80px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#desk_letters {
	position: absolute;
    z-index: 2;
    
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    
    margin: 6px 40px;
}

#desk_letters li {
	width: 80px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#chess_desk {
	width: 720px;
    height: 720px;
    background: #1d1d1d;
    
    box-sizing: border-box;
    
    position: relative;
}

#squares {
	background: #b5b5b5;
    margin: 40px 0 0 40px;
}

#icons_ctn {
	margin: 40px 0px 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#icons_ctn li {
	margin-bottom: 80px;
    padding: 0px;
    
    height: 80px;
}

#icons_ctn li:last-child, #icons_ctn li#empty_item {
	margin-bottom: 0px;
}

#kfadeeva_logo_ctn {
	align-self: center;
}

#counter_back_icon_ctn {
    position: relative;
    
    width: 78px;
}

#counter_num_ctn {
	position: absolute;
    width: inherit;
    font-family: "Gilroy Extra Bold";
    font-size: 48px;
    color: #232323;
}

#counter_num_ctn span#counter_num {
	display: flex;
    justify-content: center;
    margin-top: 16px;
}